<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    
    <root level="${root.log.level:-INFO}">
        <appender-ref ref="FILE"/>
    </root>

    <appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="60000"/>
        <appender-ref ref="graphExecutionTimes"/>
        <appender-ref ref="graphExecutionTPS"/>
        We add the JMX Appender reference onto the CoalescingStatistics
        <appender-ref ref="perf4jJmxAppender"/>
    </appender>
    
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CoalescingStatistics"/>
        <appender-ref ref="perf4jFileAppender"/>
    </logger>
    
        <appender name="asbErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${CATALINA_BASE}/logs/asbrpc.log</File>
        <encoder>
            <Pattern>%date %-5level [%file:%line] %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${CATALINA_BASE}/logs/asbrpc.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
        </rollingPolicy>
    </appender>
    
    <logger name ="com.wd.erp.asbrpc.service.WdRpcService" level="DEBUG" additivity="false" >
	      <appender-ref ref ="asbErrorAppender"/>
	      <!--  <appender-ref ref ="STDOUT"/> -->
	      
	</logger>
    

</configuration>
